[2018-10-30 23:20] onachassi opened #1 "Vuejs - Unknown custom element: <trix-editor> - did you register the component correctly? For recursive components, make sure to provide the "name" option."
Hey, thanks for the plugin.  We're having issues with the install.

It seems like it's not recognizing the <trix-editor> component within the VueTrix.vue file, have you seen this issue before?  Do you have any solution?

The error message is the following:
[code]

The Code is below:

[code]

[2018-10-31 02:18] hanhdt commented on #1
Hi, thanks for issue feedback. I got it. Because Vue will complaint to unknown custom element `<trix-editor>`. You could add the `<trix-editor>` tag to Vue's list of ignoredElements under `main.js`:
[code]
Please look at [example project](https://github.com/hanhdt/vue-trix/blob/master/example/src/main.js).

Also, I will update codes to tell Vue ignore this tag too.

[2018-11-01 09:48] #1 closed

[2018-11-05 17:21] SRajapakseOscar opened #2 "Getting error on Import"
I am getting a console error:
[code]

When I try to import (from both global and in the component)

Any idea how I can get this to work?

[2018-11-06 06:37] hanhdt commented on #2
Hi, can you tell me more details?
how did you import into your component?

[2018-11-06 06:45] hanhdt commented on #2
Bwt, I'm trying to reproduce on my local first.

[2018-11-06 12:22] SRajapakseOscar commented on #2
Yeah, it was made with CLI, but I don't recall if it was 3 (but most probably).

Here are the project dependencies:

[code]

I imported it into an empty component but still got the error.

[2018-11-06 13:41] hanhdt commented on #2
You’re bundling with Parcel right?
So, I believe issue come from importing UMD of Parcel since the component is exposed to UMD format. Look at https://github.com/parcel-bundler/parcel/issues/959

It have some workarounds there. And I will try expose more build targets.

[2018-11-12 21:43] patrickdavey opened #3 "Updating to version 1.0"
Hi there,

Are you planning on upgrading this library to work with [trix version 1.0](https://github.com/basecamp/trix/releases/tag/1.0.0) ?

[2018-11-14 04:46] #3 closed

[2018-11-19 09:46] #2 closed

[2018-12-13 22:58] Timibadass opened #4 "Images"
Hi!, Is it possible to upload/ add Images with the text editor? If yes, how?

[2018-12-14 00:57] hanhdt commented on #4
Hi,
Yes, you can handle attachments by binding events with latest package version.

For example, `trix-attachment-add` fires after an attachment is added to the document. You should store this file remotely and set the attachment’s URL attribute.

In component file (`*.vue`), you can do something like:
[code]
Thanks.

[2018-12-31 04:28] ryanhovland opened #8 "Possible to turn off localStorage?"
Thanks for you work on this package!

Is it possible to not have a the input text stored in localStorage by default? Seems like odd behavior in my opinion. Maybe better to have this as an optional setting?

[2018-12-31 05:30] hanhdt commented on #8
Can you give further details which use cases you thought it should be turned off?

[2018-12-31 05:41] ryanhovland commented on #8
I'd argue it's never a good idea to be saving things to localStorage without the author specifically intending to. It just seems like odd behavior for a generic WYSIWYG editor. I don't believe the regular Trix library does this. Additionally, some countries around the world have very strict privacy laws in regard to cookies, etc.

Why not at least create an option for turning it off? I'd argue to

[2019-01-04 05:51] hanhdt commented on #8
I already updated that allows localStorage as an optional setting. You can look at [here](https://github.com/hanhdt/vue-trix/commit/b0a7eadefa5fe7bbeb304dd3133a91ee22cac19e)

Thanks.

[2019-01-04 05:51] #8 closed

[2019-01-06 16:05] schougule-c3t opened #9 "Getting Error on Build"
Unexpected token: punc (() [./node_modules/vue-trix/dist/vue-trix.esm.js:12,0][static/js/vendor.0a45ec1851261490d5ef.js:54076,24]

[2019-01-07 04:03] hanhdt commented on #9
I have updated ES build on latest version. Can you try it if still got error?

[2019-01-07 19:38] DRBragg commented on #9
ERROR in static/js/2.525fbb242d3b52c8584e.js from UglifyJs
Unexpected token: punc (() [./node_modules/vue-trix/dist/vue-trix.esm.js:12,0][static/js/2.525fbb242d3b52c8584e.js:23856,24]

I'm getting the same error.  Tried 0.6.1 and 0.5.1

[2019-01-07 23:46] hanhdt commented on #9
@DRBragg Can you try with UMD bundle then?

[2019-01-08 15:04] DRBragg commented on #9
I'll give that a shot this weekend. I went with a different implementation for now.  Thanks.

[2019-01-08 15:34] louisjjs opened #10 "Populating With Stored Content"
How do we populate html data like from database ?

[2019-01-08 20:36] gustawdaniel opened #11 "Different h sizes"
How to select between `h1`, `h2`, ... `h6`?

[2019-01-09 03:51] schougule-c3t commented on #9
@hanhdt , It is resolved with 0.6.2. Thank you. The editor is really good.

[2019-01-09 13:19] hanhdt commented on #11
As Trix editor support by default, you can just work with attributes `bold`, `italic`, `href`, and `strike`, and the block-level attributes `heading1`, `quote`, `code`, `bullet`, and `number`
So, for now the heading is just one level.
You can look at here: https://github.com/basecamp/trix#working-with-attributes-and-nesting

[2019-01-09 13:36] hanhdt commented on #10
Please, refer to doc [here](https://github.com/basecamp/trix#populating-with-stored-content).
In case of Vue, you just need to initial load html data from database into the `data` option of your component, then use `v-model` bind to the data option.

You may want to check [sample code](https://github.com/hanhdt/vue-trix/blob/master/example/src/components/Editor.vue)

[2019-01-11 11:10] #10 closed

[2019-01-11 11:10] #11 closed

[2019-01-11 16:40] kudapara opened #12 "I am getting error 'window is not defined' when page refreshes"
Hi

I have a ```Nuxt``` projext and I have included ```vue-trix```.
It works perfectly however when a user refreshes the page it shows and error 'window is not defined'.
I have attached a picture with the error.

How do I fix this error?
![image](https://user-images.githubusercontent.com/13519184/51046797-b4f6d680-15cf-11e9-8ab5-9311cf0e2744.png)

[2019-01-11 23:52] hanhdt commented on #12
Hi,

Which `vue-trix` version you are working on?

[2019-01-12 09:19] #9 closed

[2019-01-13 12:53] #12 closed

[2019-01-14 08:15] kudapara commented on #12
Thanks, it was the server side rendering issue. I ended up using it as a plugin and setting ```ssr``` to false in the ```nuxt.confug.js``` file

[2019-01-22 23:31] hanhdt commented on #10
Can you show codes for your actual situation?
Btw, in Vue.js, you can *watch* field that you assigned data to v-model directive.

[2019-02-01 09:01] loyaruarutoitsu opened #14 "[Vue warn]: Unknown custom element: <vuetrix> - did you register the component correctly? For recursive components, make sure to provide the "name" option. (found in <Root>)"
Hello.

First of all thank you for the great contribution merging trix with vue, perfect match.

I'm building a Ruby on Rails App with Webpacker and VueJS and Turbolinks.

However when I added vue-trix to yarn and pack it to the website I get the following error:
[code]

I got one JS-file where I import Vuetrix like so:
[code]

Then i got my slightly modified init-code because of Turbolinks:
[code

[2019-02-01 13:18] hanhdt commented on #14
Hi,
Can you explain where did you use `VueTrix` component? In Single File Component (*.vue), isn't it?

[2019-02-01 14:22] loyaruarutoitsu commented on #14
Hi, Thanks for the quick response.

I just got it to work. To further explain:

No, I havent been using it as a single file component. I'm new to vuejs and found it rather complicated the SFCs. So I just jammed everything into a file under app/javascript/packs/editor.js with the above code.

This is how it works now, file "editor.js":
[code]

I noticed that the JSON-Object under "components" had a

[2019-02-01 14:22] #14 closed

[2019-02-01 14:52] hanhdt commented on #14
Yes, you're welcome and I will think of documenting for Rails especially. Thanks for your further explanations.

[2019-02-05 07:07] ukchukx opened #15 "editorContent not updated?"
@hanhdt, in the update method (https://github.com/hanhdt/vue-trix/blob/master/src/components/VueTrix.vue#L77) you're only emitting an event without updating `editorContent`.
What's the reason for this approach?
Wanted to send a pull request to fix that, but would like to know if you'll be ok with that.

[2019-02-05 12:33] hanhdt commented on #15
Hi @ukchukx ,
Yes, you're right. I forgot it at last avoiding prop mutation. Just updated it -
https://github.com/hanhdt/vue-trix/blob/a4a04c2290abcd2bbd7e4ef90ead70f1ab15b403/src/components/VueTrix.vue#L85
Can you review it again?

Thanks.

[2019-02-05 13:06] dsampaolo opened #16 "Override default config ?"
Hi,

I just discovered your package and it's very interesting. I'm used to Trix in Laravel Nova.

Could you please provide an example on how to override Trix default configuration ?
It would be very helpfull (for example, I need to add h2 subheadings to the toolbar)

Thank you very much !

[2019-02-05 13:49] ukchukx commented on #15
@hanhdt Works now. :+1:

[2019-02-05 13:49] #15 closed

[2019-02-06 03:19] hanhdt commented on #16
Hi @dsampaolo,
Thanks for great question. Currently, I'm still respected Trix defaults. Hence, overriding default configurations aren't implemented yet.

If you have ideas, a PR is welcome.
Thanks.

[2019-02-08 10:25] franciscotrillo commented on #16
Hi,

I need pretty much the same thing. I'm trying to override `Trix.config.lang` to alter the displayed texts, but It doesn't seem to work.

Is this an issue with vue-trix?

[2019-02-08 18:01] joaoprado commented on #10
Sorry i totally forgot about this.

So, I set my component v-model directive as this and when the data property is changed after the component is loaded, it doesn't change the content inside the component.

I "fixed" by setting a `pageIsLoaded` property in my component and use `v-if` to show the text editor only after i have all the data i need.

[2019-02-11 11:46] hanhdt commented on #16
No, you can't change only Trix's config, it needs to change styling and core rendering also I thought.

[2019-02-14 07:42] bcsecorg opened #17 "Support for the old version(5.x) of Firefox"
In the old version of Firefox, the editor does not modify the contents stored by the editor.
Because in Firefox 5.x, "event.srcElement" is not supported, only "event.target" is supported.

in vue-trix/src/components/VueTrix.vue#75:
    handleContentChange (event) {
      this.editorContent = event.srcElement.innerHTML
    }

"this.editorContent = event.srcElement.innerHTML" is not supported,in Fir

[2019-02-14 08:08] hanhdt commented on #17
Hi @bcsecorg

Thanks for your information. You're right `Event.srcElement` is supported from [Firefox 6.2](https://developer.mozilla.org/en-US/docs/Web/API/Event/srcElement)
I will fix it soon or would you like to submit a PR?

[2019-02-15 04:35] #17 closed

[2019-02-19 12:30] chintanbanugaria opened #19 "Issue with attachment"
Hey I am having issue swith attachment. I am uploading the the attached files for the firebase storage.
File is uploaded to the firbase storage successfully.  However in the editor its not rendering its currect url.

Here's my code
`
handleFile(file) {
           var storageRef = fb.storage.ref();
            var imgRef = storageRef.child(file.attachment.file.name)
            console.log(imgRef);

[2019-02-19 14:52] hanhdt commented on #19
Hi,
Actually, no, the editor doesn't auto-populate image's url. And you don't need to return `file` object.

Rendering depends on local component's state.
Did you get the file's url after firebase uploaded?
If true, then you need to populate editor content state of the component which you already assigned to `v-model`.

[2019-02-20 11:44] chintanbanugaria commented on #19
Yes I do get file's url. Will update the content state then.

Thanks,

[2019-02-20 11:44] #19 closed

[2019-02-25 18:33] ouhare opened #20 "handle @trix-file-accept event?"
Is there a way to `preventDefault` `trix-file-accept` event for preventing dropped or pasted files ?

[2019-02-27 00:14] hanhdt commented on #20
It means you want to preventing dropped or inserted into the editor via calling `preventDefault` under a support option?

[2019-02-27 18:01] ouhare commented on #20
I just need `trix-file-accept` event to be emitted to be able to preventDefault the event to disable drag and dropping images or files.

From the official doc:

[2019-02-28 23:48] hanhdt commented on #20
I see. Yes, it should be supported. I will implement it.
But a PR always welcome.

Thanks.

[2019-03-01 11:09] #20 closed

[2019-03-05 19:16] joshStillerman opened #22 "Can not figure out how to bind attachment"
The documentation for responding to attached files says:

This event fires, I store the attachment and generate a URL.  However, I can not find where I am supposed to set the URL property.

I have
`addAttachment(event)
`
and the event has an attachment property, which in turn has an attachment property.  I find the file reference in there, and the reference to the localhost blob image.  Given this

[2019-03-05 19:56] joshStillerman commented on #22
I did find the example that does:
`          url: HOST + key,
          href: HOST + key + "?content-disposition=attachment"
`
and modified my code to say:
`
      .finally(() => {
        event.attachment.url = imageUri,
        event.attachment.href = imageUri + '?content-disposition=attachment'
      })
`
but the text of the element still contains:
`<figure contenteditable="false" data-trix-att

[2019-03-05 22:49] joshStillerman commented on #22
Resolved.
What is needed is:
`      .finally(() => {
        event.attachment.setAttributes({
          url: imageUri,
          href: imageUri + '?content-disposition=attachment'
        })
      })
`

[2019-03-05 23:42] hanhdt commented on #22
Hi @joshStillerman ,
Thanks for your clarification.

[2019-03-05 23:42] #22 closed

[2019-03-14 08:44] abrhambas01 opened #23 "Toolbar Icons doesn't show up"
Why does my toolbar or the icons is replaced by buttons ?

![image](https://user-images.githubusercontent.com/12043306/54342881-87361880-4678-11e9-808e-137d8f343700.png)

[2019-03-14 14:59] hanhdt commented on #23
Can you confirm it with the sample I provided first?

[2019-03-19 16:23] ErikVerheul opened #24 "The current version is not reactive"
I changed your demo to test it. I just added a button to extend the content with one character X. I expect the text to change at every click. But it does not. See the adapted source:
[code]

[2019-03-20 00:25] hanhdt commented on #24
Yes, it is two-way data binding from parent's prop to local data of VueTrix.
I have pushed a patch, could you rebuild and check it?

Thanks.

[2019-03-20 08:02] ErikVerheul commented on #24
Thank you for the quick patch. I cannot verify yet. Got a compilation error. See below. Will wait for an update in NPM so that I can upgrade from there.
[code]

[2019-03-20 08:09] hanhdt commented on #24
Yes, I see. Because the example used to the ES module built file for testing reason before,
So, you need to run `$npm run build:es' first, then `$npm run serve`.

[2019-03-20 08:15] ErikVerheul commented on #24
Ok, will try.

[2019-03-20 08:29] ErikVerheul commented on #24
Yes, problem is fixed. Please publish the fixed package.

[2019-03-20 08:29] #24 closed

[2019-03-20 08:30] hanhdt commented on #24
Thank you for verifying.

[2019-03-20 14:38] eamon-clixifix opened #25 "Vue warning thrown"
Warning given, see below:

Avoid mutating a prop directly since the value will be overwritten whenever the parent component re-renders. Instead, use a data or computed property based on the prop's value. Prop being mutated: "initContent"

On version 0.7.6

[2019-03-20 16:13] hanhdt commented on #25
Hi, thanks for your checking.
I will update it.

[2019-03-20 18:25] joshStillerman opened #26 "sometime between versions 0.7.3 and 0.7.6 text insertion jumps to start"
When updating from version 0.7.3 to 0.7.6 the following weird behavior started to occur.
Wherever the text insertion point is in the editor buffer, after typing a character, the character is inserted and the cursor moves to the front of the buffer.

Reverting to 0.7.3 resolved this.

[2019-03-21 03:02] hanhdt commented on #26
Thanks for catching the issue.
Flag the bug now, I will review and update.

[2019-03-21 04:40] #25 closed

[2019-03-21 04:42] hanhdt commented on #25
@eamon-clixifix Hi, could you review it on new patch 0.7.7.
Thanks.

[2019-03-21 04:43] hanhdt commented on #26
@joshStillerman Hi, I have updated it. Could you review patch 0.7.7?
Thanks.

[2019-03-21 08:22] eamon-clixifix commented on #25
@hanhdt Yes that seems to fix it, thanks for sorting that out!

[2019-03-21 08:23] hanhdt commented on #25
Thank you!

[2019-03-21 08:25] #23 closed

[2019-03-21 17:11] joshStillerman commented on #26
Great, thanks !  That fixed it.

[2019-03-21 20:56] #26 closed

[2019-03-21 21:03] joshStillerman opened #27 "Attachment comments put garbage in the body html"
I am not sure if this is a trix problem or a vue-trix problem:

When I insert an image into the editor, my attachment callback fires, and all is good.  If however I type in the caption of the picture, the editor inserts a bunch of html  which does not render.  I will attempt to attach screen shots which show the 2 cases:

Broken case (with caption)
![image](https://user-images.githubusercontent.co

[2019-03-21 23:34] hanhdt commented on #27
Thanks for opening the issue.
I will try to reproduce on my side.

[2019-04-08 07:53] Abhay07 opened #28 "how to bind focus event"
Hi,
I tried
`<VueTrix v-model="fileText" class="text-content" @trix-focus="focusHandler"/>`
But handler never gets the event. Can you tell me what i'm doing wrong here ?

[2019-04-08 09:39] hanhdt commented on #28
Hi,
I think that didn't covered this event. Hence, need to push an update. Would you like to open a PR?

[2019-04-08 09:52] Abhay07 commented on #28
Sure, I have forked the repo, will add focus and blur even handler.

[2019-04-13 00:56] jessegavin opened #30 "Remove node-sass as a dependency"
Hi, thanks so much for creating this vue wrapper for Trix!

I noticed this project is using sass for the style language in the component.  However, Sass features aren't being used (there is only 1 css selector defined).

I'd like to suggest removing it because it has some large dependencies and slows down install and build times for no benefit.

[2019-04-13 02:40] hanhdt commented on #30
Hi,
You're right. It haven't been used.
Would you like to help me remove it?

Thank you!

[2019-04-13 03:55] #30 closed

[2019-04-20 11:21] isocroft commented on #16
I think i might work on this in another PR. Let me know if anyone has ideas on this as we go along

[2019-04-20 11:40] hanhdt commented on #16
Actually, this request take my attention. Could you give more about your ideas if you already on it?

[2019-04-20 15:12] kucukahmet opened #34 "This dependency was not found"
- VueJs: 2.6.10
- vue-trix: 0.8.1

Hello everyone,
When I use in my component, I get an error.
what would be the reason?

Thanks..

[2019-04-21 04:02] hanhdt commented on #34
Hi @kucukahmet,
What is your fully error messages? Could you share it here?
Thanks.

[2019-04-21 17:25] isocroft commented on #16
I'm still thinking through it... Will send in my thoughts once i'm through

[2019-04-25 19:54] DRBragg opened #36 "Trying to add attachment causing loop"
I'm having an issue where, when drag and dropping a file, the editor component goes into what appears to be an infinite loop.

I created a clone of your editor component and ran into the same issue.

I'm attaching a screenshot of my console after dropping an image file.

![Screen Shot 2019-04-25 at 3 47 32 PM](https://user-images.githubusercontent.com/26798548/56764072-df7d3180-6771-11e9-9d02-e4c9

[2019-04-30 10:31] hanhdt commented on #36
Hi,
Thanks for opening the issue.
I will reproduce and pin it for now.

[2019-05-12 14:17] enkota opened #37 "Editor jumping to bottom of content when typing on previous line"
There seems to be a bug when using a `v-model` to output the form data.

Demo: https://codesandbox.io/embed/pmqxw2z0nj

If you start typing on the second line after creating line-breaks, it will always jump to the end of the textarea and won't allow you to type on the second line.

This issue doesn't occur without a v-model.

Thanks!

[2019-05-12 14:38] hanhdt commented on #37
Hi,

Thanks for reporting the bug. I already got it and will update soon.

[2019-05-12 14:42] hanhdt commented on #34
I assume that you already got a solution then close it here.

[2019-05-12 14:42] #34 closed

[2019-05-12 16:36] enkota commented on #37
Thanks @hanhdt ! 👍

[2019-05-14 14:52] #36 closed

[2019-05-14 14:54] hanhdt commented on #36
I already fixed the issue in `0.8.2`.
Thanks.

[2019-05-14 15:20] hanhdt commented on #37
I already fixed it in v0.8.2. Could you please review it again?
Thanks.

[2019-05-14 15:22] hanhdt commented on #27
I already updated it in v0.8.2. Could you please review it again?

[2019-05-14 18:17] enkota commented on #37
All fixed as per update - https://codesandbox.io/s/n015m4745j?fontsize=14 -- great work!

[2019-05-14 21:09] DRBragg commented on #36
Great! Thanks I'll give it a try when I have sometime to revisit

[2019-05-14 22:13] AndrewMast commented on #16
This seems a tad bit sloppy, but couldn't we add a `<slot>` into the VueTrix component that goes right above the `<trix-editor>`? (and then add a prop for `toolbar` if we want to create a custom toolbar...)

[2019-05-14 23:25] hanhdt commented on #37
Thank you!

[2019-05-14 23:25] #37 closed

[2019-05-14 23:28] hanhdt commented on #36
Thank you.

[2019-05-16 09:33] hanhdt commented on #16
I think it's possible with your suggestion.

[2019-05-16 13:55] #27 closed

[2019-06-20 19:07] jimenaleom opened #38 "Cursor always goes to the end when I'm typing."
Hi,
There is a way to avoid that the cursos always jump to the end.
Because when I want to edit some text on the beginning of the paragraph I can write the first character and then start writing at the end of the paragraph.

Thank you.

[2019-06-21 04:19] hanhdt commented on #38
Hi,
Are you using the latest version? If not, please update it and the issue should be resolved.

Thanks

[2019-06-27 04:01] hanhdt commented on #38
I will close this, please open again if it's still the issue.

[2019-06-27 04:01] #38 closed

[2019-07-02 14:29] trondulseth opened #39 "initialContent / srcContent not displayed/loaded to view"
Hi,

I'm trying to use the vue-trix component to edit text that is loaded from a DB. But while the inspector shows that the value is present on the component it is not visible in the view of the component. I can write new text in there, and when submitted it is stored to the DB, but again not visible when trying to update it.

You can see it clearly here: https://www.dropbox.com/s/pbafz7su1vtjghs/

[2019-07-02 14:53] trondulseth commented on #39
I solved it. I had to force a re-render of the component simply by doing this (adding key):

[code]

I'll leave the issue (but closes it) in case someone else stumbles upon the same problem.

[2019-07-02 14:53] #39 closed

[2019-07-18 16:01] thibaultchazal opened #52 "VueTrix in a loop"
Hey, thanks for your work !

I have an issue using VueTrix multiple times in one component (in a v-for loop) but It keeps one value.
[code]

I tried using inputs but I never get to do it works properly.
[code]

Either it keeps one value for every instance or it doesn't update the vue variable (currentItem.consigne here). I tried either to keep it inside the component with the loop and in an other

[2019-07-18 23:49] hanhdt commented on #52
Hi,
Thanks for using component.
I tried to reproduce your situation from my side. Just one point, I want to confirm what you had put into `v-model`? is that change for each instance of `VueTrix`?

[2019-07-19 08:01] thibaultchazal commented on #52
Hi hanhdt, sorry for the very short piece of code I shared.

Yes it is, I have in fact two VueTrix instance in my component :
'''js
<input :id="`trix-input-${currentItem._id}`" type="hidden" :value="`${currentItem.consigne}`">
<VueTrix :inputId="`trix-input-${currentItem._id}`" v-model="currentItem.consigne" placeholder="Rajouter une consigne"/>

<input :id="`trix-input-${currentItem._id}`" type="

[2019-07-20 00:58] hanhdt commented on #52
Hi @thibaultchazal ,
Thanks for explaining. I got the issue.
Actually it’s a technical problem for now.
`VueTrix` could not two-ways binding data reactively. It means any changes from `v-model` will not reflect on the editor UI.

[2019-07-27 20:44] RayForst commented on #52
Got the same problem. Any ways to deal with it?

[2019-07-28 02:50] hanhdt commented on #52
Yes, it have work around, actually I did it before. But also it comes with side-effect.
When tracking changes from `v-model` and then replace HTML content of Trix editor, because Trix API will move the cursor to end of paragraphs even you're in the middle of paragraph.
That is another side issue.

[2019-08-24 22:32] jsd219 opened #68 "VueTrix not updating on model change"
I have discovered that the editor is not updating when the v-model changes. here is the HTML.

`<VueTrix class="trix-content responsive" id="clue" :inputId="item.id" v-model="item.message" placeholder="enter your content..."/>` this is inside a loop.

I have added `{{item.message}}` just above the editor. When I change the content from a separate source i.e. Popup. The `{{item.message}} `changes a

[2019-08-25 05:39] hanhdt commented on #68
Hi @jsd219,
This is discussing here #52. Currently you need re-init rendering `VueTrix` when `v-model` changes.

[2019-08-25 21:35] jsd219 commented on #68
How would I go about re-init?

[2019-08-25 23:49] hanhdt commented on #68
For example, if your application used `VueRouter`, you can do something like `this.$router.go()` or `this.$router.push({//current route path})`
Another way is pure JS: `window.location.reload();`

[2019-08-29 12:00] jsd219 commented on #52
@hanhdt You mentioned above you have a work around. What is it? can you give an example?

[2019-08-29 23:34] hanhdt commented on #52
@jsd219 Yes, I need change `VueTrix` codes, hence I will create new branch. And then notify you soon?

[2019-08-30 02:45] jsd219 commented on #52
@hanhdt Do you need these codes from me?

[2019-08-30 06:31] hanhdt commented on #52
@jsd219 Yes, it would be better, if you can share codes from your side.

[2019-08-30 12:25] jsd219 commented on #52
I tried to clear out as much additional code as possible to give a clear understanding of what is going on.

Here is the user flow. the user has two choices. they can edit the content in the builder component or they can open the wizard and edit the content inside the wizard. currently when the user edits the content in the builder and **then** opens the wizard I have a method "getClue" that updat

[2019-08-31 03:00] jsd219 commented on #52
I forgot to add the query. its a real time query from firestore

[code]

[2019-08-31 03:36] hanhdt commented on #52
Thanks for your sharing.
I’m looking at codes and support to create new branch of `VueTrix`.

[2019-08-31 05:15] hanhdt commented on #52
@jsd219 You can try [this branch](https://github.com/hanhdt/vue-trix/tree/feature/two-ways-binding) now. Let me know if it's suitable to your situation.

[2019-08-31 12:36] jsd219 commented on #52
forgive my ignorance but how do I update VueTrix with this new branch. I re-ran `npm install --save vue-trix` and when I run `npm view vue-trix version` it says I have 1.0.0

[2019-08-31 12:56] hanhdt commented on #52
You need install from Github branch some thing like: `npm install --save username/repo#branch-name-or-commit-or-tag`

[2019-08-31 12:59] jsd219 commented on #52
ok so in this case it would be: `npm install --save jsd219/repo#feature/two-ways-binding` ?

[2019-08-31 13:21] hanhdt commented on #52
No, it should be from mine `hanhdt/vue-trix` unless you already have a folk.

[2019-08-31 13:44] #68 closed

[2019-08-31 13:45] jsd219 commented on #52
I just ran `npm install --save hanhdt/vue-trix` and now I am getting a Failed to compile error.

[2019-08-31 13:56] hanhdt commented on #52
Sorry, I forgot push `dist`. Could you update it with `npm update`?

[2019-08-31 13:59] jsd219 commented on #52
confirmed `"vue-trix": "github:hanhdt/vue-trix#feature/two-ways-binding",`

[2019-08-31 14:01] jsd219 commented on #52
it appears to be working at first glance but i have noticed that every time I make a change in the editor it resets the focus

[2019-08-31 14:02] hanhdt commented on #52
Yes, it is one side-effect that why I didn't go with this before. Still looking for better solution.

[2019-08-31 14:03] jsd219 commented on #52
ok, how do I roll it back to the previous version. I think I need to wait for a better solution :)

[2019-08-31 14:05] hanhdt commented on #52
Just change back your `package.json` with `"vue-trix": "^1.0.0"` and then `npm install` again.

[2019-08-31 14:14] jsd219 commented on #52
ok thank you. please let me know when you find a better solution. Thank you for the plugin :)

[2019-08-31 14:22] jsd219 commented on #52
I reverted back but I am still getting the reset focus issue

[2019-08-31 14:24] hanhdt commented on #52
Yes, you should try re-install it.

[2019-08-31 15:38] hanhdt commented on #52
@jsd219 I think I already found out a better solution. Please, try the branch again and test it the reset cursor's position focus issue should be resolved! :)

[2019-08-31 17:55] jsd219 commented on #52
Hi @hanhdt sorry for the delay, I just saw this. I will pull this branch again and report back. :)

[2019-09-02 06:59] hanhdt commented on #52
Hi @jsd219 , it already merged into `master` and you can install it as a new version.
Thanks for pushing me on this. ;)

[2019-09-03 14:08] #52 closed

[2019-09-05 09:06] estani opened #83 "contents are wrong, adds <!--block--> elements"
This happens becuase the innerHTML is used instead of the value property.

For example here (I think)
https://github.com/hanhdt/vue-trix/blob/8292855ec2dbf097152d591a058ac7a92dafe013/src/components/VueTrix.vue#L144

See: https://github.com/basecamp/trix/issues/249#issuecomment-226233606

[2019-09-05 09:12] hanhdt commented on #83
Hi,
Good catch, thanks for finding it out.

[2019-09-05 13:33] #83 closed

[2019-09-10 11:52] nribeiro90 commented on #16
How to work and override `Trix.config.lang`?

[2019-09-11 16:22] minasm opened #85 "Image uploading using axios"
Hello there,

Anyone managed to implement image upload using Axios with progressCallback?

I am trying to covert this to Axios
[code]

in my component I am using
[code]
Also when I load the form there is a post request is executed :)

[code]

[2019-09-17 15:51] Uysim opened #87 "Disable File Upload"
How to hide file upload?
There is no doc about this

[2019-09-18 23:56] hanhdt commented on #85
Thanks for using plugin.
Sorry that late reply and I will try it later soon.

[2019-09-21 06:24] hanhdt commented on #87
Hi,
`Vue-Trix` have not provide it as a function yet. But you can do it very easy with CSS some thing like:
[code]

[2019-09-23 09:17] hanhdt commented on #87
I will close the issue. If you still have questions, please feel free open it.

[2019-09-23 09:17] #87 closed

[2019-10-01 08:23] firstaml-dima opened #90 "Cannot read property 'editor' of undefined"
I get a show-stopper error `Cannot read property 'editor' of undefined` and it took a long time to discover the cause.

It turns out that when a component calling Vue Trix gets unloaded (because it's v-if becomes false), then the browser throws this error, since Trix is no longer there?

[2019-10-01 10:49] hanhdt commented on #90
Thanks for reporting issue.
I will try to reproduce it and get back to you soon.

[2019-10-02 07:24] firstaml-dima commented on #90
I wonder if it's a global event handler looking for the Trix editor in the moments after The Vue component holding it has been destroyed?

[2019-10-02 13:32] hanhdt commented on #90
I still can't reproduce your situation. Just tried to hide a component calling `VueTrix` with `v-if` when its state become `false` after period time but got no issue in the console.

[2019-10-02 13:40] hanhdt commented on #90
Ok, I got it. This issue happened when you are modifying content in the editor and `VueTrix` gets unloaded right there.
I will push a patch for it. Thank you.

[2019-10-02 13:44] #90 closed

[2019-11-04 19:02] LiangWei88 opened #108 "How to set the attachment’s URL attribute."
I know how to upload a file remotely ,
but how to set the attachment’s URL attribute??
just attachement.url = "xxx"???

[2019-11-04 19:07] LiangWei88 commented on #22
omg......
may be you should point out the function in the doc
I search it for an hour...

[2019-11-05 00:00] hanhdt commented on #108
Hi,

In order to set the attachment's URL, you can do something like:
[code]

[2019-11-07 06:37] LiangWei88 commented on #108
thanks very much
I choice another plugin
cause of this plus add an caption under img
and I cannot remove it ^_^
but beside that, this plugin is great
thank you

[2019-11-07 06:37] #108 closed

[2019-11-08 07:13] shirshak55 opened #110 "Err on module resolution"
It says me this error anyway to solve it?
[code]

Thanks

[2019-11-08 07:13] shirshak55 commented on #110
webpack config if needed

[code]

[2019-11-08 14:24] hanhdt commented on #110
This is from building .esm module with `rollup`. It noticed that you should install `vue-runtime-helpers` package by yourself.

You can install it as a workaround.
I will update to required this package by default.

[2019-11-08 14:31] shirshak55 commented on #110
@hanhdt yea i was confused when i saw esm module required vue-runtime-helpers but it was not added in package.json.

[2019-11-09 06:57] #110 closed

[2019-11-22 12:02] nmanikiran commented on #85
Hi @minasm ,

Can try this

[code]

[2019-11-28 15:34] mickenorlen opened #116 "DisabledEditor not working?"
Hi,

Thanks for a great package!

I've tried setting the disabledEditor prop in many different ways but it doesn't have any effect.

:disabledEditor="true"
disabledEditor="true"
disabledEditor
disabled-editor=...
...

Whats the syntax or could it be some bug?

[2019-11-29 00:30] hanhdt commented on #116
Hi @mickenorlen ,

Could you try with following:
[code]

[2019-11-29 13:36] abrhambas01 commented on #1
Is there any fixes for this issue ? I use this with inline-template in laravel..

[code]
in my vue-file..

[code]

[2019-11-30 11:01] hanhdt commented on #1
@abrhambas01 ,

Have you tried to my suggestions with Vue config file?
Or let try to change your component vue following:
[code]

[2019-11-30 12:13] abrhambas01 commented on #1
Yep, I did but the trix-editor doesn't show up.

[2019-11-30 13:06] hanhdt commented on #1
Can you check out latest version?
And change Vue's config file.
[code]

[2019-11-30 13:15] abrhambas01 commented on #1
what do you mean by checking out ? installing the latest trix-editor ?

[2019-12-02 00:17] hanhdt commented on #116
I assumed that you already resolved this. Please, feel free to open again if it's still issue.

[2019-12-02 00:17] #116 closed

[2019-12-02 00:18] hanhdt commented on #1
Yes, please install the latest vue-trix.
I have updated some minor things.

[2019-12-02 04:22] abrhambas01 commented on #1
Ok, I'l implement it and i want to ask if can I use this in an `inline-template` ?? @hanhdt

[2019-12-04 18:10] estani opened #121 "problem with v1.1.3 on wards - Can't resolve 'vue-runtime-helpers'"
After an update to 1.1.5 (from 1.1.2) I got the following error when starting up webpack-dev
[code]
I tried with 1.1.4 and 1.1.3 and got the same messages, going back to 1.1.2 looks fine though.

I can't find anything in the docs pointing to some breaking changes or new dependencies.

The full Stacktrace looks like this:
[code]
Any Idea what might be happening?

[2019-12-05 00:51] hanhdt commented on #121
@estani Hi,
Yes, actually it's required by `rollup`. We should re-config then should stop the error from occurring.
For currently please, install that package `vue-runtime-helpers` by yourself as workaround.

[2019-12-05 01:29] #85 closed

[2019-12-06 07:28] #121 closed

[2019-12-13 00:35] atymic commented on #12
@kudapara

Can you share how you implemented it?
I've had a go at creating it as a plugin but it doesn't seem to work correctly as I can't access the component.

Thanks!

[2019-12-19 07:28] abrhambas01 commented on #85
@nm

Is it not axios.post ? @nmanikiran

[2019-12-19 07:41] nmanikiran commented on #85
@abrhambas01 i know that in @minasm issue he already mentioned that he is trying to convert it to `axios` so i though this would help him

[2019-12-19 07:45] abrhambas01 commented on #85
Ok :) Nice

[2019-12-21 03:25] abrhambas01 commented on #108
How do I get the attachment's url after removing it? like it's url ?

[2019-12-21 03:35] abrhambas01 opened #126 "[Needs Help] how do you get the url of an attachment in vue-trix after removing attachment.."
Kinda newb to the whole trix scene, and I would like to ask if how do you remove an attachment here in VueTrix or trix in general ? My thought is that I'll be getting the url of where the attachment is saved then remove it along the way

in my `@trix-attachment-add` event , I was able to make the controller to return a data like this

![image](https://user-images.githubusercontent.com/12043306/713

[2019-12-21 10:35] oza75 opened #127 ""TypeError: Cannot read property 'editor' of undefined" when localStorage is true"
**Steps to reproduce**
 - ` <VueTrix :srcContent="value" @input="input" :placeholder="placeholder" localStorage/>`
 - type something in vue trix editor
![Capture d’écran du 2019-12-21 12-33-03](https://user-images.githubusercontent.com/29458652/71306824-ad49cf80-23e5-11ea-89b8-32498f00ab18.png)

 - Reload the page
 - You will get this error
![Capture d’écran du 2019-12-21 12-31-36](https://user-im

[2019-12-21 10:40] oza75 commented on #127
The problem is here  : [https://github.com/hanhdt/vue-trix/blob/master/src/components/VueTrix.vue#L128](https://github.com/hanhdt/vue-trix/blob/master/src/components/VueTrix.vue#L128)

In Vuejs created hook $refs is undefined because the component is not created yet
so I think you should move the block that check if localStorage is true to mounted hook and put it in this.$nextTick function

[2019-12-21 13:59] abrhambas01 commented on #126
I only have the `file.name` attribute in here
![image](https://user-images.githubusercontent.com/12043306/71308931-1446a300-243d-11ea-9687-a14714f1fb8b.png)

When I can't find it here.

![image](https://user-images.githubusercontent.com/12043306/71308934-1f013800-243d-11ea-890d-688061c04617.png)

[2019-12-21 16:03] #126 closed

[2019-12-22 11:18] hanhdt commented on #127
Hi @oza75 ,
Good catch! and thanks for your PR.

[2019-12-22 12:10] #127 closed

[2019-12-24 04:07] abrhambas01 commented on #85
Hey @nmanikiran , could u help me on one thing, in my controller, I made it return the url which is like `localhost:3000/storage/3kxkkdl,png` something like that and in the file_name is just the basename of it :) which is `3kx...png` which one should I set as an Attribute ?

[2019-12-24 05:14] nmanikiran commented on #85
@abrhambas01 [check this](https://github.com/hanhdt/vue-trix#process-uploading-attachment-to-remote-server)

[2020-01-04 01:58] abrhambas01 opened #133 "[Needs Help] How do I prevent the @trix-attachent-remove event to be fired after resetting the form including the trix-editor"
how do I prevent an attachment / image to be deleted in the default `storage` folder ` after resetting the value inside the `trix-editor`, since after submitting the form inluding the trix-editor. I would reset all the fields and clear the fields in the form.. and after resetting it, I found out that the attachment that I have stored inside the default storage disk is now deleted.

this is how I h

[2020-01-09 12:03] webistomin opened #135 "Some bugs with nuxt.js"
Hi! I get these errors with nuxt.js:
1. Can't resolve 'vue-runtime-helpers'
2.  In Vuejs created hook $refs is undefined because the component is not created yet

I think it has already fixed in https://github.com/hanhdt/vue-trix/commit/2282765c2a873e898ecfb24c4ded05e08317538b and https://github.com/hanhdt/vue-trix/pull/128/commits/3617d52f3fe4f58f084bdd3d97b93352644ccecd.

Can you release a new v

[2020-01-11 04:10] hanhdt commented on #135
Hi @webistomin,

Thanks for reminding me.
I will review and release it in a new version.

[2020-01-11 12:35] #135 closed

[2020-01-29 09:52] bagwaa opened #142 "Attachments not displaying when first "attaching" them"
Thanks for this plugin, I enjoy using it and has saved me a lot of time, however I am seeing some very strange behaviour even on the most basic of installs.

I will describe my problem below and I have also included a repo which is just a vue-cli installed app (the default one) with Vue-Trix added into the main component.

See the full repository here : https://github.com/bagwaa/vue-trix-bug

# to

[2020-01-30 00:11] hanhdt commented on #142
Hi @bagwaa ,

Thank you so much for submitting the issue.
It seem like you are right. I will reproduce and check it soon.

[2020-02-05 00:52] hanhdt commented on #142
@bagwaa,
If you use 'drag-n-drop' the file with your scenarios, this behaviour won't occurs.
It's only on clicking the attach button, right?

[2020-02-05 07:43] bagwaa commented on #142
@hanhdt that’s correct, the drag functionality seems to work fine, it’s just when you click on the icon to attach an image.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-21 16:31] seanhudson opened #148 "Installation Issue"
I'm trying to load the editor for use in a Nuxt project.

I've created a plugin called trixEditor.js...

[code]

Assigned it properly in nuxt.config.js...

[code]

But the editor does not appear when used in components.

Looking at the plugin code, my editor VSCode warns something I'm not familiar with...

[code]

Any ideas what's going on here?

[2020-02-23 15:10] hanhdt commented on #148
@seanhudson Hi,
Thanks for submitting the issue.
I have not try it on Nuxt.js and will figure it out shortly.

[2020-02-24 15:14] seanhudson commented on #148
Thanks, it would be great to use in my new project.

[2020-03-02 14:00] abrhambas01 commented on #142
Is this related to the issue that I also have when I render the values in the database to the trix editor like this

![image](https://user-images.githubusercontent.com/12043306/75682948-34ae9b80-5cd1-11ea-8ef0-44f2a2cefa7c.png)

I get that .. Is it something that you folks have encountered. ?

[2020-03-03 01:36] hanhdt commented on #148
@seanhudson,
Which is your Nuxt environment?
I have tested it on Nuxt v2.11.0, Node.js v12.16.1 and it's fine.
Could you double check your plugins config?

[code]
[code]

[2020-03-04 18:39] seanhudson commented on #148
I have Nuxt v.2.11.0 and Node.js v12.14.1.

The plugin file is the same. However, I have the following in my nuxt.config.js file:

`
plugins: [
    {
      src: "@/plugins/trixEditor.js",
      ssr: false,
    },
]
`
I think, until v2.4 of Nuxt the `ssr: false` does the same thing. Right?

[2020-03-05 02:08] hanhdt commented on #148
So, what is the version of VueTrix you have in local? Is it latest version?

[2020-03-20 01:26] abrhambas01 opened #157 "Why is that attachments /pictures are not displaying in my trix-editor"
This is in my template / vue file :

[code]

it displays the contents inside here

![image](https://user-images.githubusercontent.com/12043306/77128852-b7cf4000-6a8c-11ea-85a5-a5281f4f1fe3.png)

but in the editor it doesn't show up

![image](https://user-images.githubusercontent.com/12043306/77128899-e2b99400-6a8c-11ea-9a50-f0c95bc77ddd.png)

[2020-03-20 05:49] hanhdt commented on #157
Can you show the real content inside `form.complete_description` before and after the attachment event is fired?

[2020-03-20 05:51] abrhambas01 commented on #157
which event here sir?

[2020-03-20 05:56] hanhdt commented on #157
On both `@trix-attachment-remove="handleAttachmentRemove" @trix-attachment-add="handleAttachmentAdd"`, could you see v-model changes?

[2020-03-20 05:59] abrhambas01 commented on #157
like this ?
[code]
[code]

[2020-03-20 06:13] abrhambas01 commented on #157
how can I check it @hanhdt  Ofcourse I can't trigger the `handleAttachmentRemove` function  but the
`"@trix-attachment-add="handleAttachmentAdd"`. I can definitely do that

[2020-03-20 06:49] hanhdt commented on #157
So, print out `form.complete_description` and I would like to see what you saved?

[2020-03-20 06:52] abrhambas01 commented on #157
where will I write it in `mounted()`? form.complete_description?

[2020-03-20 07:27] woohwan opened #158 "broken pipe displayed on inserted image"
trix version: 1.1.9

![trix-broken-image](https://user-images.githubusercontent.com/20880547/77143782-81fb7d00-6ac7-11ea-9c1d-8fbdc304eb73.GIF)

[2020-03-20 10:02] hanhdt commented on #157
When `@trix-attachment-add` is trigged, let print out your `form.complete_description` content?

[2020-03-20 14:45] abrhambas01 commented on #157
it would look like this
![image](https://user-images.githubusercontent.com/12043306/77174692-6bbbe400-6afc-11ea-8232-fb076238ba8a.png)

[2020-04-03 02:17] hanhdt commented on #157
@abrhambas01 Sorry for late response.
Please, trace to image's `src` and make sure it exists.

[2020-04-03 16:03] abrhambas01 commented on #157
Yep already got it

[2020-04-07 00:02] hanhdt commented on #158
@woohwan it will show the loading pipe if you don't process to uploading images on your back-end.

[2020-04-19 14:39] abrhambas01 commented on #157
Sir the issue came back, why is it like this ? it still show someting like

c
![image](https://user-images.githubusercontent.com/12043306/79690757-aa28f800-828e-11ea-8301-083c8f7aed49.png)
Autem illo iure beat.asdasd klasjdas, askldja skldjdownload.jpg 2.44 KB"

[2020-04-22 02:58] abrhambas01 commented on #157
should it give me a file name .. ?

[2020-05-05 03:38] #148 closed

[2020-05-05 03:38] #158 closed

[2020-05-07 15:51] bryanrdavis opened #171 "ReferenceError: event is not defined"
Getting the "ReferenceError: event is not defined" error in my console log on the EmitInitialize event.  I tracked it down to https://github.com/hanhdt/vue-trix/blob/master/dist/vue-trix.esm.js , line 27 where event is being passed in as an argument to the this.$emit.  In my local node_modules, I removed the event argument and the console error went away.
I'm very new to Vue so I don't want to go

[2020-05-17 08:47] stevenxvii opened #175 "Add a button to toolbar"
Hi,

Thank you for this interesting package. Could you please tell me how can I add 1 button to the toolbar and invoke my own function?

Actually I want to implement a button that will show up a dialog for users to choose whether to select existing images on the server or upload a file,

I would appreciate if you can help on this,

Thank you very much,

[2020-05-22 15:31] jessegavin opened #178 "Trouble adding unit test for trix events"
Yesterday I submitted a PR #177 to add autofocus.

I tried really hard to write a unit test for it and ran into some issues.

I really thought this test would do the job, however, the test always fails because the `done()` method never fires because the `trix-initialize` event is never triggered.

[code]

I looked into this for a while. At first I thought it might be due to the fact that Trix uses

[2020-06-07 01:31] VincentZhao commented on #133
@abrhambas01 Same problem here. Have you solved it?

[2020-06-07 04:27] abrhambas01 commented on #133
mine's doing well , I forgot how I did but her's the code that i did

[2020-06-07 04:46] abrhambas01 commented on #133
from what i personally learned, you could add a ...

[code]

[code]

[2020-06-08 00:53] hanhdt commented on #171
@bryanrdavis Thanks for your reporting.
I will confirm it.

[2020-06-08 05:14] abrhambas01 commented on #157
anyone here who has made it show?

[2020-06-17 14:48] patrickbolle commented on #148
Hi!
Same issue here.

Nuxt v.2.11.0 - Node.JS v12.14.1
Newest version of Vue-trix via "github:hanhdt/vue-trix"

Loading library in the mode: client or ssr:false, the component does not load at all; no errors, no reference as to what is going on.

[2020-06-18 01:04] hanhdt commented on #148
Hi,
Could you try to NPM version?

[2020-07-03 18:56] michaelespiritu opened #194 "P tag instead of Div"
Is there a way to convert Div tag wrapper into P tag?

[2020-09-05 23:11] anasred opened #220 "Error while building the app using WebPack"
How to solve such an error while building the app using WebPack?
[code]

this is the version I'm currently using:
```"vue-trix": "^1.1.11"```

vuejs version
```"vue": "^2.6.12"```

[2020-09-07 06:40] inspire22 commented on #220
I had this problem with a different project, and removing and re-adding with npm solved it - any chance that helps?

[2020-09-08 05:49] inspire22 commented on #142
Any progress with this?

[2020-09-08 05:50] inspire22 commented on #175
Browsing images is pretty heavy & one of the best parts of trix is how light it is.  Cloud storage being so cheap it's probably easiest to just have people re-upload things if they need to...

[2020-09-11 00:25] #133 closed

[2020-11-06 05:48] WebMedic-X opened #241 "can we have multiple localStorage for multiple inputs?"
hi

it seems we can only have one localStorage for all vuetrix inputs? they all share one?

how can we have one for each input?

thank you

[2020-11-07 06:34] WebMedic-X opened #242 "embed image without adding the size of the image"
hi

when we embed an image, the file name and size are auto added in <span>s

can we not have the image size?

thanks

[2020-11-18 17:36] JohnyJohny1861 commented on #142
How could I disable file uploader please help with config object

[2020-11-19 00:04] #16 closed

[2020-11-19 00:08] hanhdt commented on #142
@JohnyJohny1861 Can you take a look at this solution?
https://github.com/hanhdt/vue-trix/issues/87

[2020-11-19 00:19] hanhdt commented on #241
Hi @WebMedic-X,
Do you have any special reason for storing data on multiple localStorage?

I think you can try store `key:value` within one `localStorage`. For instance, you have multiple vuetrix `inputId` as `key` something like:
[code]
Thanks.

[2020-11-21 12:51] WebMedic-X commented on #241
hi @hanhdt

thanks for looking into it

we need to have multiple localStorage for multiple inputs

for example a page with 3 trix editors

will try out your suggestion

thank you

[2020-12-06 22:29] mjtpage opened #249 "Add button to toolbar"
I need to add a custom function to the toolbar, to change the text color.

Here is exactly what I want to do with the standard Trix editor https://jsfiddle.net/javan/egg7fgvv/. Here's a snippet of that code:

[code]

I'm trying to achieve the same thing but with VueTrix rather than Trix and I'm stuck, I just can't see how to get it to work. Does anyone have any ideas?

Thanks for your help :)

[2020-12-11 22:14] galaczi opened #252 "Nuxt: Unknown custom element: <VueTrix>"
I would like to use vue trix with Nuxt and followed the instructions to the letter. Getting this message:

[Vue warn]: Unknown custom element: <VueTrix> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

`
    plugins: [
        { src: "~/plugins/vue_trix", mode: "client" },
        '~/plugins/jsonld'
    ],
`

[2020-12-31 23:09] tkoop opened #256 "How can I get the Trix editor so I can insert text?"
According to https://github.com/basecamp/trix#readme I can do something like this:

// Insert “Hello” at the beginning of the document
element.editor.setSelectedRange([0, 0])
element.editor.insertString("Hello")

How can I do that with this Vue component?

[2021-01-02 10:34] hanhdt commented on #256
@tkoop You may try to use `$refs` to reference Trix in the Vue component.

[2021-01-02 21:41] tkoop commented on #256
Thank you hanhdt.  I've tried this, and it's not working for me.

https://codesandbox.io/s/romantic-wildflower-dv5x0?fontsize=14&hidenavigation=1&theme=dark

When I click the "Insert" button, it should insert text into the editor. Look in App.vue lines 25 and 26.

[2021-01-05 00:45] ipat500 opened #257 "Disable default CSS to allow for custom CSS"
When using Trix manually it is possible to not use the default css, by simply not adding it to your html. However when using vue-trix using the `import "vue-trix";` method the css file is helpfully added to the page automatically. However if you do not want to use the default css this is unhelpful.

Would it be possible to have a different js-only import, or some other method, so that the JavaScri

[2021-01-05 02:41] #241 closed

[2021-02-19 08:37] Znarkus commented on #256
Change your insertText function to

[code]

You need to access the trix editor inside the component. `this.$refs.editor` in your example is only the VueTrix instance.

[2021-02-19 08:39] Znarkus commented on #194
See https://github.com/basecamp/trix/issues/680

[2021-02-28 17:59] vladimir-popolitov commented on #252
Hi. It works with this plugin file:
`import Vue from "vue";
import VueTrix from "vue-trix";

Vue.component('VueTrix', VueTrix);`

[2021-03-01 04:58] hanhdt commented on #257
Not sure I understand all your situation.
But you can either overwrite `Trix` global CSS or add more `class` into `VueTrix` element and then style it in your own component.

[2021-04-13 12:24] oleksii-shaposhnikov opened #277 "Vue 3 support"
Hey guys, are you going to add support for Vue 3?

[2021-06-16 17:06] inspire22 commented on #277
Anyone make any progress with this?  It kinda works with 3.1 but there are errors with trying to access refs.trix for some reason.

`vue-trix.esm.js:83 Uncaught TypeError: Cannot read property 'editor' of undefined
    at Proxy.emitBeforeInitialize (vue-trix.esm.js:83)
    at callWithErrorHandling (vue.runtime.esm-bundler.js:1341)
    at callWithAsyncErrorHandling (vue.runtime.esm-bundler.js:1350)

[2021-06-17 22:54] inspire22 commented on #277
I found this guy saying to add it to the compiler options, but this doesn't work with the current 3.1 with or without compabitlity mode.

https://laracasts.com/discuss/channels/vue/vue3-and-trixeditor-failed-to-resolve-component-trix-editor

Looking at the source, this seems to be the problem:
 */
function EmitBeforeInitialize (component) {
  return {
    methods: {
      emitBeforeInitialize: fun

[2021-06-18 12:55] AminaMAHROUCH commented on #277
There's no update for this issue ?

[2021-06-18 20:33] inspire22 commented on #277
It's working great for me now on 3.1 if you edit the source after installing and have that function return

[code]

I'm not sure what the consequences of not having that event are.

Also v-model isn't working with 3.x as it's changed, but you can have a function in @input that sets your local variable with the passed in value.

`<VueTrix @input="trixSave" />`

then in methods:

[code]

[2021-06-29 08:56] hanhdt commented on #157
@abrhambas01 sorry, I have been busy lately.

[2021-07-20 08:23] StaniPetrosyan opened #296 "On change event on editor"
Hi,

using a bit vue-trix, I needed to perform operations on change of the editor content. Looking at the documentation, a 'watcher' is used. It would perhaps be convenient to use an event instead a watcher ?

I tried to attach @trix-change but it doesn't seem to work, same effect on @change event.

Maybe using something like this:

[code]

Thank you for your attention :)

[2021-07-23 11:55] titanfat opened #297 "attrs is readonly"
Greetings. Trix has been added to the Rail project via yarn for Vie. And such an error occurs. As you enter, it is repeated and more added. Trix itself renders and works.  Trix and Action Text is not connected in the backend

[Vue warn]: $attrs is readonly.

found in

---> <VueTrix>
       <WorkCategoryForm> at app/javascript/src/views/work_categories/WorkCategoryForm.vue
         <Root> vue.runti

[2021-07-23 19:22] Arns commented on #256
@Znarkus, this seems to work for inserting at a given position, but I cannot select a range of text: setSelectedRange([0,3]). It simply puts the cursor in the first position before all of the text no matter which arguments I provide to setSelectedRange. I cannot figure out how to make it work...

[2021-08-16 07:33] avioli commented on #249
I thought the `config` will do it, but apparently it doesn't work.

You can add `trix` to your package.json and then simply import it:

[code]

Codesandbox: https://codesandbox.io/s/immutable-cookies-dljk0?file=/src/App.vue

NOTE: if you have hot-reload - make sure you close the tab and re-open is since, trix registers itself as a custom element, and importing it in your code again will try to re-

[2021-12-01 15:42] Alex-Casale commented on #142
@hanhdt
I found the same problem.
**Premise:** the serve side loading works.
Pressing the button does not display the image while drag and drop works perfectly

[2021-12-24 09:33] mydnic commented on #257
I have the same issue, did you manage to solve it ?

[2022-01-04 10:30] eugenevk commented on #277
Any update on supporting VueJS 3.0?

[2022-01-11 01:09] hanhdt commented on #142
@Alex-Casale,
Thanks for your clarification.

[2022-02-16 12:55] johankladder commented on #296
I was looking for the same event. I've found the following solution:

[code]

[2022-02-16 13:07] StaniPetrosyan commented on #296
Perfect. Thanks, it works :)

[2022-02-16 13:07] #296 closed

[2022-03-23 16:01] jringeisen commented on #249
@avioli this doesn't seem to work for me. I get the following error:

[code]
I exited out of hot-reload like your note states and recompiled and I'm still getting this error. Not sure how to get around it.

[2022-03-23 16:49] jringeisen commented on #249
@avioli nevermind, I was able to get it to work. I had to delete the node modules, reinstall, and recompile then it worked for me.

[2022-09-21 06:44] sawirricardo commented on #277
Any update?

[2022-10-18 14:32] gideonpeters commented on #277
Any update?

[2022-10-21 17:51] RHRiday opened #382 "not working with vue3"
Displays the following error on `npm run dev` command

[code]

[2022-11-23 04:44] detrix42 opened #391 "Vue.config is not defined"
I have use Trix in a Ruby on Rails project. Trying to do this with Vue and Ruby on Rails as a backend API. After Starting a bare bones Vue project, and installing vue-trix via yarn, and importing vue-trix

[code]

I get the following error (stack trace):

[code]
I started the app via vue cli version 5.0.6. This seems to be more of a Vue issue. But I could not find any answers. No one else seem to